* {margin: 0;padding: 0;}
body {font: 1.5em Verdana, Sans-Serif;background: #eee;width: 100%;overflow:hidden;}
.pass {
	font-size: 35px;
	text-align: center;
	width: 16.2%;
	height: 40px;
	line-height:  40px;
	float: left;
	border: none;
	border-right:1px solid #ccc;
	
	padding:0;
    background-color: #fff;
}
.pass_right{
	border-right:none;
}
.pass_left{
	border-left:none;
}
.btn_number{
	width:33.1%;
}

.btn_next {
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background: #0099FF;
}

.btn_next:hover {
	background: coral;
}

#password {
	width:80%;
	margin:0 auto;
	font: 2em Verdana, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #ccc;
	margin-bottom:15px;
	overflow: hidden;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#keyboard li {
	float: left;
	/*margin:-1px 2px 2px -1px;*/
	width: 33.1%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	border-bottom:1px solid #cacaca;
	border-right:1px solid #cacaca;
}

#keyboard .threeRight{
	border-right:none;
}
#keyboard .tab {
	width: 33.1%;
}
#keyboard .delete,#keyboard .cancle,#keyboard .zeroLi {
	border-bottom:none;
}

#keyboard .cancle {
	width: 33.1%;
	background-color: #d1d4dd;
}

#keyboard .delete {
	width: 33.1%;
	background-color: #d1d4dd;
}

.on {
	display: none;
}
/*#keyboard .longwidth{
	width:34%;
}*/
#keyboard li:hover {
	position: relative;
	top: 0px;
	left: 0px;
	border-color: #e5e5e5;
	background: #A8A8A8;
	cursor: pointer;
}