<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="renderer" content="webkit" />
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>重置支付密码</title>
	    <link href="/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}" />
	    <link href="/css/tourStyle.css" rel="stylesheet" th:href="@{/css/tourStyle.css}" />
	    <script src="/js/jquery/jquery-2.1.0.min.js" type="text/javascript"  th:src="@{/js/jquery/jquery-2.1.0.min.js}" ></script>
	    <style type="text/css">
	    	body{
	    		
	    		background-color: #f5f5f5;
	    	}
	    </style>
	</head>
	<body>
		<header class="headerTop">
			<div class="headerBack"><a href="javascript:history.back()"><img class="headBackImg" src="/img/temp/fanhui@3x.png" th:src="@{/img/temp/fanhui@3x.png}" alt="返回"/></a></div>
			<div class="headerTitle">忘记密码</div>
			
		</header>
		<form class="balancePassForm">
			<div class="balancePassSection">
				<div class="balancePassDiv">
					<input class="balancePassCheck" type="text" placeholder="短信验证码"/>
				</div>
				<div class="balancePassFlag">
				短信验证码已经发送到11111111111
				</div>
				<div class="cardAddNext checkNext">
					<span>下一步</span>
				</div>
			</div>
			<div class="balancePassSection balancePassSectionHide">
				<div class="balancePassDiv">
					<input class="balancePassCheck" type="text" placeholder="输入证件号码"/>
				</div>
				<div class="balancePassFlag">
				
				</div>
				<div class="cardAddNext paperNext">
					<span>下一步</span>
				</div>
			</div>
			<div class="balancePassSection balancePassSectionHide">
				<div class="setNumPass">
					设置六位数字支付密码
				</div>
				<div class="set_parent clearfix">
					<input class="set_input" type="password" />
					<input class="set_input" type="password" />
					<input class="set_input" type="password" />
					<input class="set_input" type="password" />
					<input class="set_input" type="password" />
					<input class="set_input set_inputRight" type="text" />
				</div>
				<div class="pass_flag">支付密码不能是重复、连续的数字</div>
				<div class="cardAddNext pass_finish">
					<span>完成</span>
				</div>
				
			</div>
		</form>
	</body>
	<script type="text/javascript">
		$(function(){
			//验证码下一步
			$(".checkNext").on("click",function(){
				 $(this).closest(".balancePassSection").hide().next().show();
			});
			//身份验证下一步
			$(".paperNext").on("click",function(){
				 $(this).closest(".balancePassSection").hide().next().show();
			});
			//完成
			
		})
	</script>
</html>
